<link rel="stylesheet" href="/stylesheets/scss/style.css" />

<nav
  class="navbar sticky-top bg-dark border-bottom border-body bg-black"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <h1><a class="navbar-brand" href="/">MyVideoGameList</a></h1>
    <a class="text-decoration-none" href="/users">Explore Our Community</a>
    <% if(user) { %>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          href="/users/<%=user._id%>/lists"
          >Your List</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/sign-out">Sign Out</a>
      </li>
    </ul>

    <% } else { %>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/auth/sign-in"
          >Sign In</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/sign-up">Sign up</a>
      </li>
    </ul>

    <% } %>
  </div>
</nav>
