<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/scss/style.css" />
    <title>MyVideoGameList</title>
  </head>
  <body class="text-start text-white">
    <%- include('./partials/_navbar.ejs') %>
    <h1 class="text-color-white mt-5 ms-5">Welcome to MyVideoGameList</h1>
    <p class="text-white mt-3 ms-5 ps-4 fw-normal lh-sm" style="width: 35rem">
      Whether ranking favorites or tracking completed games, oraganize and
      disover games in one place!
    </p>
  </body>
</html>
